body {
  background-color: #b3ffff;
}
h1 {
  color: #e6005c;
  font-family: helvetica;
  font-size: 50px;
}
h2 {
  color: #e6005c;
  font-family: helvetica;
}
p {
  color: #000000;
}
.secondP {
  color: #000000;
}
#firstP {
  color:  #000000;
}

img {
  opacity: 0.9;
}
.centerpic {
  width: 810px;
  margin: auto;
}
.box {
    border-radius: 95px;
    border: 2px solid #000099;
    padding: 20px;
    margin-bottom: 10px;
    width: 800px;
    height: 250px;

}
a {
  font-size: 40px;
}
button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #fc12d9;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
